<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="sqlConnection" connectionString="Data Source=.;Initial Catalog=MovieDB;User Id=sa;Password=lkj183495" />
    <add name="MovieSystem.Properties.Settings.MovieDBConnectionString"
      connectionString="Data Source=.;Initial Catalog=MovieDB;User ID=sa;Password=lkj183495"
      providerName="System.Data.SqlClient" />
    <add name="MovieRecoder.Properties.Settings.MovieDBConnectionString"
      connectionString="Data Source=HP-OMEN7;Initial Catalog=MovieDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>